<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/web-server//src-express/img/weather.png">
  <link rel="stylesheet" href="/css/style.css">
  <script></script>
  <title>about</title>
</head>
<body>
  <div class="main-content">
    {{>header}}
    <p>{{title}}</p>
    <p>{{name}}</p>

  </div>
  {{>footer}}
</body>
</html>